body{
    color: #e5e5e5;
    text-align: center;
    background-color: #504545;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10em 0 0 10em;
    padding: 0;
    font-size: 16px;
}


.container { 
    text-align: justify;
    width: 70%;
    padding: 1em;
    border: 1px solid #e25b5b;
    
}

#cabecera{
    background-color: chocolate;
    text-align: center;
    padding: 1em;
}

.P2{
    color: #685;
    font-size: 12px;
}

footer{
    text-align: center;
    background-color: rgb(81, 81, 96);
    color: white;
    padding: .5em;
    font-weight: bold;
    font-size: 18px;
}